*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #4E5150;
    --orange: #F2994A;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 40px;
    line-height: 2;
}
.right-container{
    display: flex;
    flex-direction: column;
}
.right-container h1{
    font-size: 36px;
    color: var(--gray4);
}
.right-container h3{
    font-size: 18px;
    color: var(--gray1);
    margin-top: 50px;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form__input{
    width: 465px;
    height: 50px;
    border: 1px solid var(--gray3);
    border-radius: 10px;
    font-size: 16px;
    padding: 20px;    
    color: var(--gray3);
    margin-bottom: 15px;
    transition: .3s ease all;

}

#email{
    background-image: url('./assets/mail.svg');
    background-size: 20px 16px;
    background-repeat: no-repeat;
    background-position: 10px center;    
    padding-left: 35px
}
#phone{
    background-image: url('./assets/phone.svg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 10px center; 
    padding-left: 35px 
}
#fullName{
    background-image: url('./assets/user.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px  
}
#address{
    background-image: url('./assets/home.svg');
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: 10px center; 
    padding-left: 35px 
}
#city{
    background-image: url('./assets/city.svg');
    background-size: 18px 17px;
    background-repeat: no-repeat;
    background-position: 10px center;  
    padding-left: 35px
}
#country{
    background-image: url('./assets/world.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 10px center;  
    padding-left: 35px
}
#postal{
    background-image: url('./assets/mailbox.svg');
    background-size: 20px 22px;
    background-repeat: no-repeat;
    background-position: 10px center;  
    padding-left: 35px
}
.form-label{
    font-size: 12px;
    color: var(--gray2);
    margin-bottom: 5px;
}
.form-container--country{
    display: flex;
    align-items: center;
}
#form__country{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form-country select{
    padding: 0 0 0 45px;
    margin: -5px 35px 0 0;
}

.postal, .country{
    display: flex;
    flex-direction: column;
}
.form__input-2{
    width: 217px;
    height: 50px;
    font-size: 16px;
    color: var(--gray3);
    border-radius: 10px;
    border: 1px solid var(--gray3);
    padding: 20px;    
    margin-bottom: 20px;
    transition: .3s ease all;
}
.form__input:focus, .form__input-2:focus{
    border: 1px solid var(--orange);
    outline: none;
}
.checkbox{
    display: flex;
    align-items: baseline;   
}
.checkbox input{
    width: 21px;
    height: 21px;
    border-radius: 5px;
    border: 1px solid var(--gray3);
}
.checkbox label{
    margin: 10px;
    font-size: 12px;
    color: var(--gray2);
}
.btn-submit button{
    width: 166px;
    height: 50px;
    color: #ffffff;
    background: var(--orange);
    border: none;
    border-radius: 10px;
    margin-left: 299px;
}
.btn-submit button:hover{
    cursor: pointer;
    box-shadow: 3px 0 30px rgba(163,163,163, 1);
}
.formulario__input-error{
    margin-top: -10px;
    font-size: 10px;

    color: #c51d1d;
    display: none;
}
.formulario__input-error-active{
    display: block;
}
.form-inputs-error{
    border: 1px solid #c51d1d;
}
.form-inputs-succes{
    border: 1px solid #0A6EBD;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 383px;
    height: 535px;
    background: #F2F2F2;
    justify-content: space-around;
    align-items: center;    
    margin-top: -350px;
}
.articles{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.article-1 img{
    width: 135px;
    height: 137px;
    border-radius: 10px;
}
.article-information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article-information--price{
    display: grid;
    grid-template-areas:    "title title"
                            "price1 price2";
                            align-items: center;
}
.article-information--price h3{
    grid-column-start: title;
    grid-column-end: title;
    color: var(--gray4);
    font-size: 16px;
}
#price-right{
    grid-column-start: price1;
    color: var(--orange);
    font-size: 16px;
}
#price-left{
    grid-column-start: price2;
    font-size: 12px;
    color: var(--gray4);
    text-decoration: line-through;
}
.article-information--account{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 134px;
    height: 52px;
    border: 1px solid var(--gray3);
    border-radius: 10px;
    align-items: center;
    font-size: 16px;
}
.article-information--account button{
    width: 24px;
    height: 26px;
    color: var(--gray3);
    background: #dddddd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 299px;
    font-size: 16px;
}
.total p{
    border-top: 1px solid #BDBDBD;
}
.total-price{
    text-align: right;
}
.footer-container{
    display: flex;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}   
.footer-container p{
    color: #BDBDBD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.footer-container img{
    width: 12px;
    height: 12px;
}
@media (max-width: 950px){
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 40px;
        position: relative;
    }
    .left-container{
        width: 350px;
        height: 489px;
        margin-top: 60px;
    }
    .right-container h1{
        position: absolute;
        top: 10px;
        font-size: 24px;
    }
    .right-container,.form-container{
        width: 350px;
    }
    .article-1 img{
        width: 123px;
        height: 125px;
    } 
    .article-information--price h3{
        font-size: 12px;
    }
    #price-right{
        font-size: 14px;
    }
    #price-left{
        font-size: 10px;
    }
    .article-information--account{
        width: 123px;
        height: 50px;
    }
    .article-information--account button{
        width: 22px;
        height: 22px;
    }
    .total{
        font-size: 14px;
    }
    .form__input{
        width: 350px;
        height: 41px;
        font-size: 12px;
    }
    .form__input-2{
        width: 163px;
        height: 41px;
        font-size: 12px;
    }    
    .form-container--country{
        align-items: flex-start;
    }
    .form-country label{
        margin-top: 10px;
    }
    .form-country select{
        margin-top: 7px;
    }
    .right-container label, .checkbox {
        font-size: 10px;
        margin-bottom: 0;
    }
    .btn-submit{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 360px;
    }
    .footer-container{
        left: -40px;
    }   
    .footer-container p{
        color: #BDBDBD;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .footer-container img{
        width: 12px;
        height: 12px;
    } 
}
